
body {
  font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url("../background.png");
    background-size: cover;
    color: rgb(2, 11, 30);
    font-size: 19px;
    
}
.card {
  background: #cad3e0;
  padding: 16px;
  border-radius: 16px;
  margin-bottom: 12px;
}
button {
  background: #1E5CFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 12px;
}

.big-text { font-size: 19px; }
.name-text { font-size: 21px; }

.quiz {
    font-family: sans-serif;
    max-width: 600px;
    margin: 1rem auto;
    padding: 1rem;
    background: #f0f2f6;
    border-radius: 12px;
  }

  .quiz h3 {
    margin-top: 2rem;
  }

  .answers button {
    display: block;
    margin: 0.5rem 0;
    padding: 0.6rem 1rem;
    width: 100%;
    background: rgb(48, 96, 185);
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
  }

  .answers button:hover {
    background: rgb(65, 111, 197);
  }

  .correct {
    background: #85d77f !important;
    border-color: #188445 !important;
  }

  .wrong {
    background: #c46e6e !important;
    border-color: #c03525 !important;
  }
